@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=PT+Sans&family=Poppins&display=swap');
/* global */
:root{
    --dark-mode:#161616;
    --gray-text:#242B2E;
    --gray-text-alt:#1b1b1b;
    --light-gray-text:#758283;
    --white:#fff;
    --category-heading:#876ac7;
    --input-field:#222222;

}
.dark-bg{
    background: linear-gradient(-90deg, #02203c, #001528);
}

.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.justify-content{
    justify-content: space-around;
}
.justify-content-btw{
    justify-content: space-between;
}
.align-items{
    align-items: center;
}

h1{
    font-size:30px;
    font-weight:600;
    font-family: 'Poppins', sans-serif;

}
h2{
    font-size:25px;
    font-weight:600;
    font-family: 'Poppins', sans-serif;
}
h3{
    font-size:18px;
    font-weight:600;
    font-family: 'Poppins', sans-serif;
}

h4{
    font-size:15px;
    font-weight:400;
    font-family: 'Poppins', sans-serif;
}
h5{
    font-size:12px;
    font-weight:400;
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 16px;
    
}

span{
    font-size:12px;
    font-weight:400;
    font-family: 'Poppins', sans-serif;
}
.blogdate{
    margin:0px 20px; 
    letter-spacing:.1rem;
    font-size: 10px;
}


/* global */

html{
    background-color:var(--dark-mode);
    /* background: linear-gradient(-90deg, #011b33, #000c16); */
    color: var(--white);
}


.container{
    margin:70px ;

}
.create-btn-div{
    display:flex;
    justify-content:center;
    margin: 20px 0px;
}

.section-heading{
    color: var(--light-gray-text);
}

.blog-category-heading{
    color:var(--category-heading);
    border-bottom: 1px solid var(--category-heading) ;
    width:30%;
}

.pointer{
    cursor: pointer;
}
.divider{
    border-bottom: 1px solid var(--gray-text);
    max-width: 40%;
}

.mt-20{
    margin: 20px 0px;
}
nav{
    /* border-bottom: 1px solid var(--gray-text); */
    padding:20px;
}

/* buttons */

.btn{
    border:none;
    outline:none;
}
.readmore{
    background-color: var(--gray-text);
    border-radius: 5px;
    padding:5px 8px;
    color:var(--white);
}
.create-btn{
    transition: background-color .2s,padding .4s,box-shadow .2s,border .2s;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    white-space: nowrap;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: 10px 70px;
    background-color: #626ee3;
    color:var(--white);
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 50%);

}
.create-btn:hover{
    background-color: var( --category-heading);

}

/* buttons */
.banner{
    padding:20px 0px;
    position: relative;
}
.banner-logo{
    font-size:50px;
}
.blogbanner{
    max-width:100vw;
}
.banner-text-div{
    position:absolute;
    top:180px;
    left:80px;
}



/* navigation bar */
.logo-div{
    display:flex;
    align-items:center;
    
}
.logo-image{
    max-width: 50px;
    height:50px;
    width: 100%;
}
.logo-text{
    font-size:18px;
    letter-spacing:.2rem;
    font-weight:400;
    font-family: 'PT Sans', sans-serif;
}


/* navigation bar */




/* featured blogs*/
.featured-card{
    margin:20px 0px;
}

.featured-image{
    max-width:350px;
    width:100%;
    height: 300px;
    object-fit: cover;
    object-position:center center;
}
.featured-text{
    margin: 0px 20px;
}



/* featured blogs*/

/* empty blogs */

.empty-wrapper{
    margin: 10px 0px ;
    padding:80px 80px;
    background-color:var(--gray-text-alt);
}


::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(19, 19, 19);
    border-radius: 7px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #876ac7; 
    border-radius: 7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #785bb8; 
  }


  /* footer */
  .footer-container{
      background-color: #120E43;
      border-radius:7px;
      margin:100px 70px 40px ;
 

      
  }
.footer-logo-div{
    margin: 90px auto ;
    
}
.footer-nav {
    justify-content:space-around;
/* background-color: black; */
margin: 20px;
}
.footer-item-div{
    max-width: 500px;
    margin:0 10px;
}
.footer-logo-image{
    max-width: 100px;
    height:100px;
    width: 100%;
}
.footer-link{
    color:#908ad6;
}
.footer-p{
    display:flex;
    flex-wrap: wrap;
}

ul li{
    list-style: none;
    padding: 0px 0px 30px 0;
    margin-left: -40px;
    cursor: pointer;
}
ul li a{
    text-decoration: none;
    color:var(--white);
}
ul li a:hover{
    color:#81a3c2
}
.footer-logo-div{

    margin: 90px  ;
    

}

.blog-created{
    background-color: var(--white);
    color:#242B2E;
    padding:10px 20px;
    z-index:10;
    position: fixed;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 50%);

}

@media screen and (min-width: 320px) and  (max-width:480px){

    h1{
        font-size:20px;
        font-weight:600;
        font-family: 'Poppins', sans-serif;
    
    }
    h2{
        font-size:16px;
        font-weight:600;
        font-family: 'Poppins', sans-serif;
    }
    h3{
        font-size:13px;
        font-weight:600;
        font-family: 'Poppins', sans-serif;
    }
    
    h4{
        font-size:12px;
        font-weight:400;
        font-family: 'Poppins', sans-serif;
    }
    h5{
        font-size:9px;
        font-weight:400;
        font-family: 'Poppins', sans-serif;
    }
    p{
        font-size: 13px;
    }
    .container{
        margin:10px ;
    
    }
    .featured-card{
        flex-direction:column;
        margin: 20px 10px;

    }

    .featured-image{
        width: 100%;
        max-width:350px;
        height:180px;
        
    }
 
    .featured-text{
        margin: 0px 0px;
    }
    .banner-logo{
        font-size:25px;
        text-align: center;
    }
    .banner-text-div{
        position:relative;
        top:0px;
        left:0;
        margin: 0px auto;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    .empty-wrapper{

        padding:20px 20px;
    }
    .footer-container{
        flex-direction: column-reverse;
        
    }
    .footer-nav{
        flex-direction:column;
        margin: 2px;
    }
    .footer-item-div{
        width: 290px;
        margin:0 5px;

    }
    .footer-logo-image{
        max-width: 100px;
        height:80px;
        width: 100%;
    }
    .footer-logo-div{

        margin: 50px auto ;
        

    }
    ul li{
        list-style: none;
        padding: 0px 0px 15px 0;

        cursor: pointer;
    }
    
}


@media screen and (min-width: 481px) and  (max-width:768px){

    h1{
        font-size:22px;
        font-weight:600;
        font-family: 'Poppins', sans-serif;
    
    }
    h2{
        font-size:18px;
        font-weight:600;
        font-family: 'Poppins', sans-serif;
    }
    h3{
        font-size:14px;
        font-weight:600;
        font-family: 'Poppins', sans-serif;
    }
    
    h4{
        font-size:13px;
        font-weight:400;
        font-family: 'Poppins', sans-serif;
    }
    h5{
        font-size:10px;
        font-weight:400;
        font-family: 'Poppins', sans-serif;
    }
    p{
        font-size: 14px;
    }
    .container{
        margin:10px ;
    
    }
    .featured-card{
        flex-direction:column;
        margin: 20px 20px;

    }

    .featured-image{
        max-width:400px;
        /* height: 180px; */
        /* margin:0 auto; */
        
    }
     
    .featured-text{
        margin: 0px 0px;
    }
    .banner-logo{
        font-size:28px;
        text-align: center;
    }
    .banner-text-div{
        position:relative;
        top:0px;
        left:0;
        margin: 0px auto;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    .footer-container{
        flex-direction: column-reverse;
    }
    .footer-nav{
        margin: 5px;
    }
    .footer-item-div{
        width: 290px;
        margin:0 5px;

    }
    .footer-logo-image{
        max-width: 100px;
        height:80px;
        width: 100%;
    }

    .footer-logo-div{

        margin: 5px auto ;
        

    }
    
    
}
@media screen and (min-width: 769px) and  (max-width:980px){

    h1{
        font-size:23px;
        font-weight:600;
        font-family: 'Poppins', sans-serif;
    
    }
    h2{
        font-size:19px;
        font-weight:600;
        font-family: 'Poppins', sans-serif;
    }
    h3{
        font-size:16px;
        font-weight:600;
        font-family: 'Poppins', sans-serif;
    }
    
    h4{
        font-size:14px;
        font-weight:400;
        font-family: 'Poppins', sans-serif;
    }
    h5{
        font-size:12px;
        font-weight:400;
        font-family: 'Poppins', sans-serif;
    }
    p{
        font-size: 15px;
    }
    .container{
        margin:10px ;
    
    }
    .featured-card{
        flex-direction:column;
        margin: 20px 20px;

    }

    .featured-image{
        max-width:250px;
        /* height: 180px; */
        /* margin:0 auto; */
        
    }
     
    .featured-text{
        margin: 0px 0px;
    }
    .banner-logo{
        font-size:30px;
    }
    .banner-text-div{
        position:absolute;
        top:100px;
        left:20px;
        margin: 0px auto;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    .footer-container{
        flex-direction: column-reverse;
    }
    .footer-nav{

        margin: 5px;
    }
    .footer-item-div{
        width: 300px;
        margin:0 5px;

    }
    .footer-logo-image{
        max-width: 100px;
        height:100px;
        width: 100%;
    }
    .footer-logo-div{

        margin: 5px auto ;
        

    }
}

